body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #333;
    background: #333;
}

/* styles.css */

canvas {
  max-width: 800px;
  margin: 0 auto;
}

.chart {
  height: 350px;
}

.card-title {
  margin-bottom: 20px;
}

.list-group-item {
  border: none;
  padding: 10px 15px;
  border-radius: 0;
  background-color: #f8f9fa;
}

.list-group-item:hover {
  background-color: #e9ecef;
}
